body {
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    width: 100vmin;
    height: 300vmax;
}

a, img {
    -webkit-touch-callout: none; /* 禁止长按链接与图片弹出菜单 */
}
html, body {
    -webkit-user-select: none;   /* 禁止选中文本 */
    user-select: none;
}